<menu></menu>
<mat-card class="card-entrances offset-md-2 col-md-8">
    <mat-card-header>
        <img mat-card-avatar src="assets/inbound_icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <mat-card-title class="d-none d-sm-block">INBOUND ROLLS</mat-card-title>
        <mat-card-subtitle class="d-none d-sm-block">Warehouse Inbound Mobile Device
        </mat-card-subtitle>
        <div class="d-block d-sm-none">
            <button mat-stroked-button color="primary" [routerLink]="['/signoff']">Sign Out</button>
        </div>
    </mat-card-header>
    <br>
    <div class="container-fluid">
        <div>
            <mat-form-field class="offset-md-1 col-md-10">
                <mat-label>VENDOR</mat-label>
                <input matInput #_vendor id="Vendor" [formControl]="vendorControl" placeholder="VENDOR" 
                (enter)="_pallet.focus()" />
                
            </mat-form-field>
        </div>
        <div >
            <mat-form-field class="offset-md-1 col-md-10">
                <mat-label>PALLET</mat-label>
                <input matInput #_pallet id="PalletNo" [formControl]="palletControl" placeholder="NO PALLET"
                (enter)="_po.focus()" />
                
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="offset-md-1 col-md-10">
                <mat-label>SAP PO</mat-label>
                <input matInput #_po id="purchasingOrder" [formControl]="poControl" placeholder="PURCHASING ORDER" 
                (enter)="_pcnExt.focus()" />
                
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="offset-md-1 col-md-10">
                <mat-label>EXTERNAL PART NO.</mat-label>
                <input matInput #_pcnExt id="PCN_EXTERNAL" [formControl]="pcnExtControl" placeholder="VENDOR PCN" 
                (enter)="_pcnInt.focus()" />
                
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="offset-md-1 col-md-10">
                <mat-label>INTERNAL PART NO.</mat-label>
                <input matInput #_pcnInt id="PCN_INTERNAL" [formControl]="pcnIntControl" placeholder="ILM PCN" 
                (enter)="_qty.focus()" />
                
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="offset-md-1 col-md-10">
                <mat-label>QUANTITY</mat-label>
                <input matInput #_qty id="Quantity" [formControl]="qtyControl" placeholder="QUANTITY" 
                (enter)="_printer.focus()" />
               
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="offset-md-1 col-md-2">
                <mat-label>Printer</mat-label>
                <input matInput #_printer id="PrinterName" [formControl]="printerControl" placeholder="PRINTER" 
                (enter)="sendToPrint()" />
               
            </mat-form-field>
        </div>
        <div class="form-group">
            <button type="button" id="btnEntrance" class="btn btn-primary offset-md-5 col-md-2"
                (click)="sendToPrint()">Entrance Material</button>
        </div>
    </div>
</mat-card>
