
<br>

<div class="container-fluid" style="padding-right: 2%;" id="Nav">
    <mat-card >
    <div class="col-12" id="Sub-Nav">
    <a mat-button routerLink="/inicio">
        <span> INICIO</span> &nbsp;
        <mat-icon color="primary">home</mat-icon></a>
    
    <a mat-button routerLink="/inbound01">
        <span> FABRIC INBOUND GROUP # 1</span> &nbsp;
        <mat-icon color="primary">mobile_friendly</mat-icon>
    </a>

    <a mat-button routerLink="/inbound02"> 
        <span> FABRIC INBOUND GROUP # 2</span> &nbsp;
        <mat-icon color="primary">file_copy</mat-icon></a>

    <a mat-button routerLink="/historial">
        <span> RECORDS</span> &nbsp;
        <mat-icon color="primary">history</mat-icon>
    </a>

   </div>
  </mat-card>
</div>
<br>
