
<br>

<div class="container-fluid" style="padding-right: 2%;" id="Nav">
    <mat-card >
    <div class="col-12" id="Sub-Nav">
    <a mat-button routerLink="/inicio">INICIO</a>
    
    <a mat-button routerLink="/venta">REGISTRAR VENTAS</a>

    <a mat-button routerLink="/venta-historial">CONSULTAR VENTAS</a>

    <a mat-button routerLink="/venta-comision">HISTORIAL VENTAS</a>

    <a mat-button routerLink="/clientes">CLIENTES</a>

    <a mat-button routerLink="/articulos">ARTICULOS</a>

    <a mat-button routerLink="/promociones">PROMOCIONES</a>

    <a mat-button routerLink="/empleados">EMPLEADOS</a>

    <a mat-button routerLink="">PROVEEDORES</a>

    <a mat-button routerLink="/usuarios">USUARIOS</a>

    <a mat-button >SALIR</a>
   </div>
  </mat-card>
</div>
<br>
